* {
  font-family: Helvetica, Arial, sans-serif;
}

body {
  padding: 60px;
  color: white;
  background-color: #21232a;
}

input {
  color: teal;
  font-size: 1.1;
  width: 100%;
}

.card-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  align-content: center;
  border: 1px solid gray;
  border-radius: 9px;
  padding: 10px;
  overflow: hidden;
  background: linear-gradient(to bottom, #74767b, #21232a);
  margin-left: 15px;
  margin-top: 15px;
  box-shadow: 10px 15px black;
}

.card p {
  padding: 5px;
  text-align: center;
}

.card img {
  max-height: 150px;
}
